<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student</title>
</head>
<body>
<div class="main">
    <div class="name">
        Abdukarimova Karina
    </div>
    <div class="information">
        <ol>
            <li>
                Group name:
                <div>IKBO</div>
            </li>
            <li>
                Group number:
                <div>01-22</div>
            </li>
            <li>
                Variant number:
                <div>1</div>
            </li>
        </ol>
    </div>
</div>
</body>
</html>